In [2]:
import pandas as pd

In [3]:
data=pd.read_csv("insurance.csv")

In [4]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
data.tail()

      age     sex    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [7]:
data.shape

(1338, 7)

In [8]:
data.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [9]:
data.describe(include='all')

,age,sex,bmi,children,smoker,region,charges
count,1338.000000,1338,1338.000000,1338.000000,1338,1338,1338.000000
unique,NaN,2,NaN,NaN,2,4,NaN
top,NaN,male,NaN,NaN,no,southeast,NaN
freq,NaN,676,NaN,NaN,1064,364,NaN
mean,39.207025,NaN,30.663397,1.094918,NaN,NaN,13270.422265
std,14.049960,NaN,6.098187,1.205493,NaN,NaN,12110.011237
min,18.000000,NaN,15.960000,0.000000,NaN,NaN,1121.873900
25%,27.000000,NaN,26.296250,0.000000,NaN,NaN,4740.287150
50%,39.000000,NaN,30.400000,1.000000,NaN,NaN,9382.033000
75%,51.000000,NaN,34.693750,2.000000,NaN,NaN,16639.912515
max,64.000000,NaN,53.130000,5.000000,NaN,NaN,63770.428010

In [10]:
data['sex'].unique()
data['sex']=data['sex'].map({'female':0,'male':1})
data['smoker']=data['smoker'].map({'yes':1,'no':0})
data['region']=data['region'].map({'southwest':1,'southeast':2,
                   'northwest':3,'northeast':4})

In [11]:
data.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       1  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       3  21984.47061
4   32    1  28.880         0       0       3   3866.85520

In [12]:
X = data.drop(['charges'],axis=1)
y = data['charges']

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

In [15]:
lr = LinearRegression()
lr.fit(X_train,y_train)
svm = SVR()
svm.fit(X_train,y_train)
rf = RandomForestRegressor()
rf.fit(X_train,y_train)
gr = GradientBoostingRegressor()
gr.fit(X_train,y_train)

GradientBoostingRegressor()

In [16]:
y_pred1 = lr.predict(X_test)
y_pred2 = svm.predict(X_test)
y_pred3 = rf.predict(X_test)
y_pred4 = gr.predict(X_test)

df1 = pd.DataFrame({'Actual':y_test,'Lr':y_pred1,
                  'svm':y_pred2,'rf':y_pred3,'gr':y_pred4})

In [17]:
df1

           Actual            Lr          svm            rf            gr
764    9095.06825   8924.407244  9548.261584  12035.838200  11001.128629
887    5272.17580   7116.295018  9492.515425   5516.388104   5840.174656
890   29330.98315  36909.013521  9648.758701  28218.052321  28001.980112
1293   9301.89355   9507.874691  9555.044136  10351.207817   9745.291602
259   33750.29180  27013.350008  9420.421978  34573.991127  33639.100981
...           ...           ...          ...           ...           ...
109   47055.53210  39116.968669  9648.902852  46930.108705  45431.423211
575   12222.89830  11814.555568  9625.431547  12577.091827  12465.025294
535    6067.12675   7638.107736  9504.168517   6327.547881   6974.336525
543   63770.42801  40959.081722  9605.004594  46650.237963  47862.047791
846    9872.70100  12258.228529  9590.987268   9672.093743  10289.655388

[268 rows x 5 columns]

In [18]:
lr.score(X_test,y_test)

0.7833463107364539

In [19]:
from sklearn import metrics

In [20]:

score1 = metrics.r2_score(y_test,y_pred1)
score2 = metrics.r2_score(y_test,y_pred2)
score3 = metrics.r2_score(y_test,y_pred3)
score4 = metrics.r2_score(y_test,y_pred4)

In [21]:
print(score1,score2,score3,score4)

0.7833463107364539 -0.07229762787861826 0.8616399267908443 0.8779726251291786

In [ ]:
gr = GradientBoostingRegressor()
gr.fit(X_train,y_train)

In [26]:
data = {'age' : 40,
        'sex' : 1,
        'bmi' : 40.30,
        'children' : 4,
        'smoker' : 1,
        'region' : 2}

In [27]:
df = pd.DataFrame(data,index=[0])
df

   age  sex   bmi  children  smoker  region
0   40    1  40.3         4       1       2

In [28]:
new_pred = gr.predict(df)
print("Medical Insurance cost for New Customer is : ",new_pred[0])

Medical Insurance cost for New Customer is :  43839.34586293142

In [29]:
import joblib

In [30]:
gr = GradientBoostingRegressor()
gr.fit(X,y)

GradientBoostingRegressor()

In [31]:
joblib.dump(gr,'model_joblib_gr')

['model_joblib_gr']

In [32]:
model=joblib.load('model_joblib_gr')

In [34]:
gr.predict(df)[0]

42148.36188800322

In [35]:
from tkinter import *

In [36]:
import joblib

In [65]:
master=Tk()
master.title('insurance cost predictor')
label=Label(master,text='Insurance cost predictor',bg='black',fg='white').grid(row=0,columnspan=2,column=1)
def show_entry():
    p1=float(e1.get())
    p2=float(e2.get())
    p3=float(e3.get())
    p4=float(e4.get())
    p5=float(e5.get())
    p6=float(e6.get())
    
    model=joblib.load('model_joblib_gr')
    result=model.predict([[p1,p2,p3,p4,p5,p6]])
    
    Label(master,text='Insurance Cost').grid(row=8)
    Label(master,text=result).grid(row=9)
    


label=Label(master,text='Enter your age' ).grid(row=2)
label=Label(master,text='male(1) or female(0)' ).grid(row=3)
label=Label(master,text='Enter your bmi value' ).grid(row=4)
label=Label(master,text='Enter no of children').grid(row=5)
label=Label(master,text='Smoker Yes(1)/No(0)').grid(row=6)
label=Label(master,text='Region[1-4]').grid(row=7)

e1=Entry(master)
e2=Entry(master)
e3=Entry(master)
e4=Entry(master)
e5=Entry(master)
e6=Entry(master)

e1.grid(row=2,column=1)
e2.grid(row=3,column=1)
e3.grid(row=4,column=1)
e4.grid(row=5,column=1)
e5.grid(row=6,column=1)
e6.grid(row=7,column=1)

Button(master,text='Predict',command=show_entry).grid()




mainloop()